@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset rất nhẹ để tránh xung đột với Tailwind và giữ body không bị flex cố định */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
