<section class="aboutMe__section animate-on-scroll" data-animation="fade-in-up">
  <!-- Hình động 2 bên -->
  <img src="./assets/rocket-icon.svg" alt="rocket-icon" />

  <img src="./assets/laptop-icon.svg" alt="laptop-icon" />

  <!-- Nội dung chính -->
  <div class="aboutMe__container">
    <div class="aboutMe__content_container">
      <h1 class="section__title">Giới thiệu bản thân</h1>
      <p class="section__description">
        Xin chào! Mình là sinh viên năm cuối trường đại học CNTT. Mình có niềm
        đam mê với công việc lập trình và vô cùng yêu thích việc tạo ra các
        trang web và mobile app hiện đại và có tính ứng dụng cao.
      </p>

      <div class="CTA">
        <a
          href="./assets/CV/Huynh-Tan-Khuong.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="primaryButton"
          download
        >
          Tải CV
        </a>
        <a href="#ProjectContainer" class="outlineButton"> Xem dự án </a>
      </div>
    </div>
  </div>
</section>
